@import url("https://fonts.googleapis.com/css?family=Montserrat");

@import url("https://fonts.googleapis.com/css?family=Roboto");

.navbar {
    display: block;
    font-family: "Montserrat";
    background-color: #e53935;
    border: black 1em;
    margin-top: 0px;
    padding-top: 0px;
    height: 50px;
    text-align: justify;
    font-size: xx-large;
}
.mainbody {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.heading {
    font-family: "Montserrat";
    font-size: x-large;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border: black 10px;
}

.text {
    font-family: "Roboto";
    font-size: medium;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border: black 1em;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-size: 102%;
}
